// Fonts
$fontHeadline: 'EB Garamond', serif;
$fontText: 'Lato', sans-serif;

// Colors
$colorBg: #f9f8f6;
$colorTextMain: #1f1f1f;
$colorTextSecondary: #666666;
$colorTextImgDescription: #999999;
$colorTextFocus: #af8948;
$colorTextSlider: #ffffff;
$colorElementDisable: #d6d5d4;
$colorElementFocus: #8bb0af;
